.image {
    display: block;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.ul {
    padding-inline-start: 20px;
    // list-style: none;
    font-style: italic;
}

.back {
    cursor: pointer;
    width: fit-content;
}